---
layout: page
title: Eventi locali
---



    {% for section in site.data.eventi.sections %}
    <div class="section">
        <div class="row">
            <div class="col s12 m12">
            {% if section.events %}
                <div class="eventContainer" style="display:flex; flex-wrap:wrap; justify-content:space-between;">
                    {% for event in section.events %}
                        <div class="card" style="max-width: 48%; display: flex; flex-direction: column; justify-content: space-between; min-width: 200px;">
                            <div>
                                <div class="card-image">
                                    <img src="{{ site.url }}/img/{{ event.image }}">
                                    <span class="card-title">{{ event.title }}</span>
                                </div>
                                <div class="card-content">
                                    <p>{{ event.text }}</p>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href={{ event.link }}>{{ event.linktxt }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}


