{% assign current = page.url | remove: 'index.html' | remove: '.html' | replace: '//', '/' %}
<!-- {% for item in include.nav %}
  {% if item.subitems %}
    <ul id="dropdown-{{ item.slug }}" class="dropdown-content">
      <li><a href="{{ site.url }}/{{ item.url }}">{{ item.text }}</a></li>
      {% for subitem in item.subitems %}
        <li><a href="{{ site.url }}/{{ subitem.url }}">{{ subitem.text }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %} --> 

<div class="navbar-fixed">
  <nav class="custom1" role="navigation">
    <div class="nav-wrapper container">
      <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
      <a id="logo-container" href="{{ '/' | relative_url }}" class="brand-logo">
        AISF Trento
      </a>

      <ul class="right hide-on-med-and-down nav-links">
        <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
        <li><a href="{{ '/comitato' | relative_url }}" class="{% if page.url == '/comitato/' %}active{% endif %}">Chi Siamo</a></li>
        <li><a href="{{ '/eventi' | relative_url }}" class="{% if page.url == '/eventi/' %}active{% endif %}">Eventi Locali</a></li>
        <li><a href="{{ '/latex' | relative_url }}" class="{% if page.url == '/latex/' %}active{% endif %}">Corso LaTeX</a></li>
        <li><a href="{{ '/git' | relative_url }}" class="{% if page.url == '/git/' %}active{% endif %}">Corso Git</a></li>
        <li><a href="https://ai-sf.it/iscrizione/">Iscriviti</a></li>
        <li><a href="https://www.ai-sf.it">AISF</a></li>
      </ul>


      <ul id="nav-mobile" class="side-nav">
        <li class="logo"><a id="mobile-logo-container" href="{{ site.url }}"><object id="front-page-logo" type="image/png" data="{{ site.url }}/img/aisf-trento.png">Your browser does not support PNG</object><span class="mobile-logo-text">{{ site.data.generic.title }}</span></a></li>
          {% for item in include.nav %}
            {% if item.subitems %}
              <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                  <li>
                      <a class="collapsible-header">{{ item.text }}</a>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="{{ site.url }}/{{ item.url }}">{{ item.text }}</a></li>
                          {% for subitem in item.subitems %}
                          <li><a href="{{ site.url }}/{{ subitem.url }}">{{ subitem.text }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                  </li>
                </ul>
              </li>
            {% else %}
            <li><a 
              {% if item.url contains "http://" %}
                  href="{{ item.url }}"
              {% else %}
                  href="{{ site.url }}/{{ item.url }}"
              {% endif %}
              >
              {% if item.url == navurl %}
              {{ item.text }}
              {% else %}
              {{ item.text }}
              {% endif %}
            </a></li>
            {% endif %}
          {% endfor %}
      </ul>
    </div>
  </nav>
</div>